:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
.intro {
  display: block;
  justify-content: center;
  position: bottom;
  align-items: center;
  padding-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
  color: #000000;
  height: auto;
   font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}

intro:hover {
  text-decoration: underline;
}
.introicon {
  justify-content: center;

  align-items: center;
  padding-top: 10%;
  padding-left: 45%;
  padding-right: 40%;
}


body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
body {
  color: black;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: top;
  transition: width 600ms ease;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.ukcard {
 color: #666666;
  width: 400px;
  height: 400px;
  display: flex;
  border-style: solid;
  background-color: #ffffff;
}
.uk-card-hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.h1 {
  color: #000000;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  height: auto;
}